.heading{
font-size:28px;
width:100%;
margin:0;
}

body{
background-size:cover;
}

#start,#number_of_objects,#status{
font-size:18px;
}

.copy_right_footer{
position: fixed;
width:100%;
background-color:gold;
line-height:3;
bottom:0;
text-align: center;

}

canvas{
border:2px solid white;
border-radius:10px;
margin-top:50px;
box-shadow:5px 5px 5px grey;


}